services:
  koel:
    image: ${DOCKER_MIRROR}docker.io/phanan/koel:${VERSION}
    container_name: koel
    ports:
      - "${TRIM_SERVICE_PORT}:80"
    volumes:
      - ${MUSIC_DIR:-${TRIM_PKGVAR}/music}:/music
      - ${TRIM_PKGVAR}/database:/var/www/html/database
      - ${TRIM_PKGVAR}/covers:/var/www/html/public/img/storage
      - ${TRIM_PKGVAR}/search-indexes:/var/www/html/storage/search-indexes
    environment:
      - TZ=Asia/Shanghai
      - DB_CONNECTION=sqlite-persistent
      - APP_KEY=${KOEL_APP_KEY:-base64:placeholder}
      - MEMORY_LIMIT=512
    restart: unless-stopped
